language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
install:
  - composer install --no-interaction
script:
  - composer test
env:
  global:
    secure: ermIiCC4s6xQr2T1WmyByiLMVJr7N/TWMxyj+h2LWAR9yfzmqZef7C7WdpygaxklaWrqCsIqp8TJV+UZJLa8yuT67oYTY6lPue6w0HZ8Kyiu3DUZc96q9Rv2k6NDwjFDKwcDCpWN0jfH4FsUQQ9rY3B4RUgSUW+b0SwAlEHsgVo=
