<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    stopOnError="true"
>
    <php>
        <env name="API_KEY" value=""/>
    </php>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
